@import url("https://fonts.googleapis.com/css2?family=Sarala&family=Ubuntu+Mono:wght@700&family=Ubuntu:wght@700&display=swap");
* {
    --font1: "Ubuntu";
    --font2: "Ubuntu Mono";
    --font3: "Sarala";
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* section1  ***************** */

.section1 {
    width: 100vw;
    height: 100vh;
    /* background: url("../images/j.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: co ntain; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons-opposite {
    display: none;
}

.social-icons {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons i {
    margin: 10px;
    color: #000;
    font-size: 1.6rem;
}

.intro-section1 {
    color: #140d43;
    text-align: center;
}

.intro-section1 h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font1);
    text-transform: uppercase;
}

.intro-section1 h3 {
    font-size: 1.7rem;
    font-weight: 900;
    font-family: var(--font2);
    text-transform: capitalize;
}

.intro-section1 span {
    color: #090521;
}


/* .intro-section1 p {} */

@media screen and (max-width: 800px) {
    .intro-section1 {
        padding: 10px;
    }
    .social-icons {
        display: none;
    }
    .social-icons-opposite {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .social-icons-opposite i {
        font-size: 1rem;
        font-weight: 900;
    }
}


/* ends ************** */


/* navbar *************************** */

.header-wraps {
    width: 0;
    height: 0;
    /* display: none; */
    /* position: relative; */
    /* background-color: #000; */
    /* transition: 0.1s all cubic-bezier(1, 1.04, 0, 1.43); */
}

.header-wraps * {
    display: none;
}

.bars {
    position: fixed;
    top: 30px;
    z-index: 7;
    right: 30px;
    color: #000;
    font-size: 2.5rem;
}


/* when header is active */

.active-header {
    width: 100vw;
    display: flex;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transition: 0.2s all cubic-bezier(1, 1.04, 0, 1.43);
}

.active-header .fa-times {
    position: absolute;
    right: 34px;
    top: 35px;
    font-size: 2.5rem;
    color: white;
}

.active-header .navbar-wraps {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 9s display cubic-bezier(1, 1.04, 0, 1.43);
}

.active-header .navbar-wraps ul {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 5s all cubic-bezier(1, 1.04, 0, 1.43);
}

.active-header .navbar-wraps ul li {
    list-style-type: none;
}

.active-header .navbar-wraps ul li a {
    /* list-style-type: none;
     */
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    .active-header .navbar-wraps ul {
        justify-content: space-around;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .bars {
        right: 5px;
        top: 5px;
    }
    .active-header .fa-times {
        right: 5px;
        top: 10px;
    }
    .intro-section1 h1 {
        padding: 5px;
        font-size: 2rem;
    }
}


/* ends  ************************ */


/* section 2 begins  ***********  */

.section2 {
    width: 100vw;
    height: 100%;
    background-color: #f1f5f6;
}

.box-section2 {
    position: relative;
    top: 20px;
    width: 100%;
    /* height: 100px; */
    text-align: left;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--font1);
}

.box-section2 h3 {
    font-size: 2rem;
    margin-left: 30px;
}

.box-section2 h5 {
    color: #140d43;
    margin-left: 30px;
}

.section2-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.section2-box1 {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.mini1 {
    width: 100px;
    height: 80px;
    background: url("../images/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini1v2 {
    width: 100%;
    height: 120px;
    padding: 10px;
    text-align: center;
}

.mini1v2 h5 {
    font-weight: 900;
    color: #140d43;
    font-family: var(--font2);
}

.section2-box2 {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.mini2 {
    width: 100px;
    height: 80px;
    background: url("../images/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini2v2 {
    width: 100%;
    height: 120px;
    padding: 10px;
    text-align: center;
}

.mini2v2 h5 {
    font-weight: 900;
    color: #140d43;
    font-family: var(--font2);
}

.section2-box3 {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
}

.mini3 {
    width: 100px;
    height: 100px;
    background: url("../images/3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini3v2 {
    width: 100%;
    height: 120px;
    padding: 10px;
    text-align: center;
}

.mini3v2 h5 {
    font-weight: 900;
    color: #140d43;
    font-family: var(--font2);
}

@media screen and (max-width: 800px) {
    .section2 {
        height: 100%;
    }
}


/* section2 ends  */